<div class="container">
  <h2>Albums</h2>
  <div *ngIf="loading" class="loading">Loading albums...</div>
  <div *ngIf="!loading && albums.length === 0" class="empty">No albums found.</div>
  <ul *ngIf="!loading && albums.length > 0" class="album-list">
    <li *ngFor="let album of albums" class="album-item">
      <a [routerLink]="['/albums', album.id]" class="album-link">
        <span class="album-id">{{ album.id }}</span> - {{ album.title }}
      </a>
      <button class="delete-btn" (click)="deleteAlbum(album.id)">Delete</button>
    </li>
  </ul>
</div>
