* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c1e21;
    position: relative;
}


.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #100e15;
}

.face {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 40px;
    flex: 1; 
    width: 100%;
}
.logo {
    position: absolute;
    top: 12px;
    left: 20px;
}
.left {
    flex: 1;
    padding-top: 20px;
    text-align: center;
    color: #fbfbfb;
}
.right {
    font-family: sans-serif;
    border-left: 2px solid lightgray;
    padding: 100px 120px;
    background: rgb(23, 13, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right input{
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.right button{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.login {
    margin-bottom: 50px;
}
.login a{
    display: block;
    text-align: center;
    color:#ffffff;
    text-decoration: none;
    margin-top: 6px;
}
.login p{
    margin-bottom: 10px;
    color: #ffffff;
}
.login a:hover {
    text-decoration: underline;
}
.log {
    background-color: rgb(0, 136, 244)  ;
    color: white;
    text-align: center;
}
.facebook {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-bottom: 10px;
}
.facebook a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
.other button{
    border-color: #017cf7;
}
.new-acc {
    background-color: rgb(29, 12, 40);
    border-color: rgb(0, 136, 244);
    color: rgb(0, 136, 244);
}

.footer {
    width: 100%; 
    border-top: 1px solid lightgray;
    padding: 20px;
    color: gray;
    text-decoration: None;
    font-size: 12px;
    text-align: center;
    background: #100e15; 
    margin-top: auto; 
}
.footer a{
    color: gray;
    text-decoration: None;
    margin: 8px;
    font-size: 12px;
}
.links {
    margin: 10px;
}

.meta {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fbfbfb;
    font-size: 14px;
}